:root {
  --primary: #3dbeff;
  --hover: #6fcfff;
  --white: #fff;
  --footer-color: #90d4c5;
  --footer-font-color: #2b7463;
}

.contact {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-font-color);
}

.contact form {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;
  padding: 10px 40px;
  gap: 10px;
  border-radius: 10px;
}

.contact form label {
  color: var(--white);
  font-size: 20px;
}

.contact form input {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.contact .btn-submit {
  margin-top: 15px;
  cursor: pointer;
}