:root {
    --primary:#3dbeff;/* Done*/
    --hover:#6fcfff;/* Done*/
    --soft-red: #f66; 
    --yellow: #fea; 
    --dark-desaturated-cyan: #1a6;
    --dark-blue: #065b85;
    --dark-moderate-cyan: #449;
    
    --very-dark-desaturated-blue: #2a3440;
    --very-dark-grayish-blue: #485260; 
    --dark-grayish-blue: #5a5f73; 
    --grayish-blue: #9da3b0; 
    --white: #fff; /* Done  */
    --footer-color:#90d4c5;/* Done  */
    --footer-font-color:#2b7463;/* Done  */
    
    --body-font-size: 18px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul{
    list-style-type: none;
  }
  p,a{
    font-family: 'Barlow', sans-serif
  }
  a{
    text-decoration: none;

  }
  h1, h2, h3 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
  }
  body{
    width: 100%;
  }

  header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: var(--white);
    background-color: var(--primary);
  }


  header  a{
    color: var(--white);
  }
  /* header ul li{
    padding: 10px 20px;
    border-radius: 50%;
    transition: 0.5s;
  } */
  header ul li:hover{
    background-color: var(--hover);
  }
footer{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  height: 40vh;
  color: var(--footer-font-color);
}
footer a{
  color: var(--footer-font-color);
}
footer .social-icons{
  display: flex;
  gap: 20px;
}